@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div x-data="{ open: false }">
        <button class="btn bg-primary text-white" @@click="open = ! open">Toggle Content</button>

        <div x-show="open">
            Content...
        </div>
    </div>
</div>